/* Define a CSS variable */
:root {
  --main-color: #88c8bc;
  --gray-color: #eeeeee;
  --black-color: #222222;
}
body {
  font-family: "Cairo", sans-serif;
}
.navbar-brand {
  font-family: "Noto Nastaliq Urdu", serif !important;
}
.ms-n5 {
  margin-left: -40px;
}
.z-3 {
  z-index: 1000 !important;
}
.input-group span button {
  background-color: var(--main-color) !important;
}
.input-group span button:hover {
  background-color: var(--black-color) !important;
}
.input-group span button i {
  color: white !important;
}
.carousel-item img {
  height: 600px;
}

.pb-60px {
  padding-bottom: 60px;
}






/* old style */

ul li a.active {
  color: var(--main-color) !important;
}

/* Custom CSS for Hover Effect */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* Custom CSS to hide the dropdown arrow */
.navbar-nav .nav-item.dropdown .nav-link::after {
  display: none !important;
}

button {
  border-color: var(--gray-color) !important;
  color: var(--black-color) !important;
}

button:hover {
  border-color: var(--main-color) !important;
  background-color: transparent !important;
}

.hero-banner::before {
  content: "";
  display: block;
  width: 5%;
  height: 100%;
  background: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
}

.hero-banner {
  background: #f1f6f7 !important;
  position: relative;
  margin-bottom: 10px;
}

@media (min-width: 991px) {
  .hero-banner::before {
    width: 35%;
  }
}

@media (min-width: 575px) {
  .hero-banner::before {
    width: 20%;
  }
}

.pt_60px {
  padding-top: 60px;
}



a.button,
.btn-subscribe {
  display: inline-block;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  color: var(--black-color);
  font-weight: 500;
  padding: 12px 41px;
  color: white !important;
  background-color: var(--main-color);
  transition: all 0.4s ease;
}


a.button:hover,
.btn-subscribe:hover {
  background-color: transparent !important;
  border-color: var(--main-color) !important;
  color: var(--black-color) !important;
}

.py-7rem {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}

a {
  text-decoration: none;
}





.my-5-3-rem {
  margin-top: 5rem !important;
  margin-bottom: 3rem !important;
}



.card-body .card-title:hover {
  cursor: pointer;
  color: var(--main-color);
}


/* footer */

footer{
  background-color: #415f5a;
}
footer a i{
  color: #ffffff;
  text-decoration: none;

}



a i:hover {
  color: var(--main-color);
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 20px;
  z-index: 1000;
}
